.dropdown-menu {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 100%;
  padding: 25px 0;
  min-width: 200px;
  max-width: 270px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: left;
  background: $header-background;
  border: 1px solid $header-border-color;
  border-top: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 0;
    background: $header-heading-color;
    width: 100%;
    height: 2px;
    -webkit-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
}

.dropdown-menu[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;

  &::before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.dropdown-menu[aria-hidden="false"] .dropdown-menu {
  display: block;
}

.dropdown-menu [aria-haspopup] {
  position: relative;
}

.dropdown-menu .Link {
  padding-left: 25px;
  padding-right: 40px;
}

.dropdown-menu svg {
  position: absolute;
  width: 6px;
  top: calc(50% - 4px);
  height: 10px;
  right: 20px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.dropdown-menu .Linklist__Item:hover {
  svg {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  > .Link--secondary {
    color: $header-light-text-color;
  }
}

.dropdown-menu .dropdown-menu {
  display: none;
  left: 100%;
  top: -26px;
  border-top: 1px solid $header-border-color;

  &::before {
    display: none;
  }
}

.dropdown-menu .dropdown-menu--reversed {
  left: auto;
  right: 100%;
}