/*
BUTTONS

Wide buttons for checkout
*/

  .btn-checkout {
    background-color: black !important;
    color: white !important;
    font-weight: semibold;
    font-size: 1rem;
    text-align: left !important;
    border-radius: 0 !important;
  }