.mega-menu {
  position: absolute;
  padding: 20px 0;
  width: 100%;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 600px;
  overflow: auto;
  overscroll-behavior: contain;
  text-align: left;
  background: $header-background;
  border-bottom: 1px solid $header-border-color;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  @supports (--css: variables) {
    max-height: calc(100vh - var(--header-height));
  }
}

.mega-menu[aria-hidden="false"] {
  opacity: 1;
  visibility: visible;
}

.mega-menu__Inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 10px; /* each menu has 40px margin, but header has 50px, so we normalize it here */
}

.mega-menu--spacingEvenly .mega-menu__Inner {
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; /* space-evenly is not supported everywhere */
}

.mega-menu--spacingCenter .mega-menu__Inner {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mega-menu--grid .mega-menu__Inner {
  @supports (display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}

.mega-menu__Item {
  margin: 20px 40px;
  -ms-flex-negative: 1;
  flex-shrink: 1;
}

.mega-menu__Item--fit {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.mega-menu__Title {
  display: block;
  margin-bottom: 20px;
}

.mega-menu__Push {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%;
}

.mega-menu__Push--shrink {
  width: 50%;
}

.mega-menu__Push--shrink:first-child {
  padding-right: 15px;
}

.mega-menu__Push--shrink:last-child {
  padding-left: 15px;
}

.mega-menu__PushImageWrapper {
  margin: 8px auto 20px auto;
  max-width: 100%;
  overflow: hidden;
}

.mega-menu__PushHeading {
  margin-bottom: 6px;
}

@media (-moz-touch-enabled: 0), (hover: hover) {
  .mega-menu__Push img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.3s ease, -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.3s ease, -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.3s ease, transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: opacity 0.3s ease, transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }

  .mega-menu__Push:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}