/** Product Carousel styles **/
.swiper-container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    padding: 0 113px;
    margin: 0 auto;

  .navigation-wrapper {
    position: absolute;
    margin: auto;
    left: 48px;
    right: 48px;
    bottom: calc(50% - 0px);
    z-index: 50;
    vertical-align: middle;


    .product-button-prev,
    .product-button-next {
      position: absolute;
      top: var(--swiper-navigation-top-offset, 50%);
      width: calc(var(--swiper-navigation-size) / 44 * 27);
      height: var(--swiper-navigation-size);
      margin-top: calc(0px - (var(--swiper-navigation-size) / 2));
      z-index: 100;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--swiper-navigation-color, var(--swiper-theme-color));
      &.product-button-disabled {
        opacity: 1 !important;
        cursor: auto;
        pointer-events: none;
      }
      &.product-button-hidden {
        opacity: 0;
        cursor: auto;
        pointer-events: none;
      }
    }
    .product-button-prev,
    .product-rtl .product-button-next {
      &:after {
        content: '';
      }
      left: var(--swiper-navigation-sides-offset, 10px);
      right: auto;
    }
    .product-button-next,
    .product-rtl .product-button-prev {
      &:after {
        content: '';
      }
      right: var(--swiper-navigation-sides-offset, 10px);
      left: auto;
    }
    .product-button-lock {
      display: none;
    }
  }
}
