.carousel-wrapper {
  margin: 0 auto;
  padding-top: 80px !important;
  top: -108px !important;
  position: relative;

  &:last-child {
    padding-top: 0 !important;
  }
  
  .carousel-item {
     background-color: #F3ECEE;
     margin-bottom: 12px;
  }

  .carousel-item-first {
    padding: 30px !important;
  }
  .carousel-item-middle {
    padding: 30px !important;
  }
  .carousel-item-last {
    padding: 0px !important;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.mobile-slide-navigation-wrapper {
  display: none;
}

.transactional_pane {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  position: sticky;
  margin: 0;
  margin-top: 60px;
}

.product-pane-container {
  padding: 0 48px 0 48px;
}

@media screen and (max-width: 1023px) {

  .mobile-slide-navigation-wrapper {
    position: relative;
    bottom: 40px;
    display: block;
  }

  .mobile-slide-navigation {
    display: flex;
    justify-content: center;
    position: relative;
    color: black;
    text-align: center;
    z-index: 1000 !important;
    vertical-align: middle;
  }

  .mobile-slide-navigation-fraction {
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.16em;
    margin: 0 10px;
    vertical-align: middle;
    font-size: 14px;
    span {
      margin: 0 5px;
    }
  }

  .transactional_pane {
    margin-top: 0px;
    top: -50px;
  }

  .carousel-wrapper {
    padding-top: 0 !important;

    .carousel-item {
      margin-bottom: 0px;
      touch-action: none;
    }

    .mobile-carousel-image {
      margin-top: 60px;
      padding: 0px !important;
      object-fit: contain !important;
    }

    .mobile-item-mood {
      margin-top: 0px;
      object-fit: cover !important;
    }
  }
}
