/** Swiper styles **/

:root {
  --swiper-navigation-color: rgba(0, 0, 0, 1);

  --swiper-pagination-color: rgba(0, 0, 0, 1);
  --swiper-pagination-bullet-inactive-color: rgba(0, 0, 0, 1);

  --swiper-pagination-fraction-color: rgba(0, 0, 0, 1);
}

:root {
  --swiper-navigation-top-offset: 90%;
}

.hero-swiper {
  width: 100vw;
  height: 100vh;

}

.hero-slide-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}

.swiper-pagination, 
.swiper-pagination-fraction, 
.swiper-pagination-horizontal {
  position: relative;
  top: -198px;
  font-weight: 600;
  font-size: 12px;
  margin: auto;
  width: 32rem;
  text-align: center;
  padding-right: 8px;

}

.swiper-button-navigation {
  position: relative;
  bottom: 250px;
  width: 32rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  
  .left-caret {
    margin-left: 20px;
    left: 200px !important;
  }

  .right-caret {
    padding-right: 20px;
    right: 200px !important;
  }

  .hero-button-prev,
  .hero-button-next {
    position: absolute;
    bottom: -120px;
    margin: auto;
    &::after {
      content: '';
    }
  }
}

.swiper-cta {
  @apply uppercase text-center super-tracking font-semibold text-base md:text-md;
}

.swiper-title {
  @apply uppercase text-center super-tracking font-semibold text-xs md:text-sm;
}

@media screen and (max-width: 768px) {

  .swiper-title {
    @apply max-w-xs !important;
  }

  .swiper-pagination,
  .swiper-pagination-fraction,
  .swiper-pagination-horizontal {
    top: -190px;
    font-weight: 600;
    font-size: 14px;
    margin: auto;
    width: 100%;
    text-align: center;
    padding-right: 8px;
    vertical-align: middle;
  }

  .product-swiper__slide {
  }

  .swiper-text {
    margin-top: -20px;
  }

  .swiper-button-navigation {
    position: relative;
    bottom: 240px;
    width: 100%;
    margin: 0 auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 100;

    .left-caret {
      left: 200px !important;
      margin-bottom: 55px;
      display: none;

      svg {
        width: 15px;
        height: 15px;
      }
    }
    .right-caret {
      display: none;
      right: 200px !important;
      margin-bottom: 55px;
      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
};