.title {
  font-weight: 600;
  text-transform: uppercase;
}

.title__lg-semibold {
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.12em;
  }

  .title__lg {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 0.12em;
  }

  .title__md {
    font-size: 1.125rem;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.16em;
  }

  .title__md-semibold {
    font-size: 1.125rem;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

  .title__sm {
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

  .title__sm-semibold {
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: 0.16em;
  }

  .title__xs {
    font-size: 0.875rem;
    line-height: 20px;
    letter-spacing: 0.16em;
  }

.text {
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.08em;
}

.text__sm {
    font-size: 0.875rem;
    line-height: 20px;
  }

  .text__md {
    font-size: 1rem;
    line-height: 24px;
  }

  .text__md-semibold {
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
  }

  .text__lg {
    font-size: 1.125rem;
    line-height: 24px;
  }

  .lg-semibold {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 24px;
  }